$main-color: #AA2D29;
$dark-main-color: #133F70;
$gray: #888888;
$background: #F7F8Fc;
$win: #219653;
$draw: #828282;
$lose: #EB5757;
$gold: #DAA520;
$silver: #C0C0C0;
$bronze: #CD7F32;
$gold-gradient: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
$silver-gradient: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
$bronze-gradient: linear-gradient(to top, #c79081 0%, #dfa579 100%);